<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="journeys/journey.css">
    <link rel="stylesheet" href="journeys/menustyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body class="container-fluid" ng-controller="JourneyController" style="background-color: #363636">
    <div id="mainDiv" style="background-color: white">
                <div>
                    <table id="tbl" class="hidden-xs hidden-sm col-sm-offset-1">
                        <tr>
                            <td ng-repeat="list in journeys">
                                <input id="{{list.Cuisine}}" type="button" class="btn btn-default btnstyle" value="{{ list.Cuisine }}" ng-click="setValue();"/>
                            </td>
                        </tr>
                    </table>

                    <div class="dropdown hidden-md hidden-lg">
                        <button class="btn btn-default btnstylesm col-xs-6" id="pickButton" data-toggle="dropdown">American
                            <span class="caret"></span>
                        </button>
                        <br/><br/>
                        <ul class="dropdown-menu col-xs-12" id="reasonDropdown">
                            <li><a ng-click="setValueMinBtn('American');"  tabindex="-1"><br/>American</a>
                            </li>
                            <hr/>
                            <li><a ng-click="setValueMinBtn('Italian');"  tabindex="-1">Italian</a>
                            </li>
                            <hr/>
                            <li><a ng-click="setValueMinBtn('Mexican');"  tabindex="-1">Mexican</a>
                            </li>
                            <hr/>
                            <li><a ng-click="setValueMinBtn('Japanese');"  tabindex="-1">Japanese</a><br/>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <div id ="canvasimage">
                    </div>
                    <canvas id="myCanvas">
                        Your browser does not support the HTML5 canvas tag.</canvas>
                </div>
                 <div id="content"class="col-xs-6">
                     <span id="heading">{{selectedCuisine}}</span>&nbsp;<span class="status">{{status}}%</span>
                     <div style="width:18em" ng-repeat="list in journeys">
                     <span id="desc" ng-if="list.Cuisine==selectedCuisine">{{list.Description}}</span>
                     </div>
                 </div>
        <div class="col-sm-2 hidden-xs hidden-sm btncontent">
            <input  type="button" class="btn btn-default btnstyle" value="{{ duration }}" /><br/><br/>
            <input ng-if="status!=100" type="button" class="btn btn-default btnstylesm" value="Follow" id="follow"/>
        </div>
        <!--<div class="row">-->
        <div class="row  hidden-md hidden-lg btncontent">
            <input  type="button" class="col-xs-6 btn btn-default btnstyle" value="{{ duration }}"/><br/><br/>
            <input ng-if="status!=100" type="button" class="col-xs-6 btn btn-default btnstylesm" value="Follow" id="follow1"/>
        </div>

    </div>

    <div ng-repeat="cuisine in journeys | filter: {Cuisine:selectedCuisine} ">
       <div id="accordion" class="panel-group" >
            <div class="panel" ng-repeat="dishes in cuisine.Dishes">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a ng-href="#{{$index}}" style="text-decoration: none;outline: none" data-toggle="collapse" data-parent="#accordion" onclick="return false">
                            <span ng-if="dishes.Status == 'Completed'"><img ng-src="Repositories/[FoodieChallenge]Asset (7).png" alt="photos" width="25" height="25"/></span>
                            <span class="badge" ng-if="dishes.Status != 'Completed'">{{ $index+1 }}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{dishes.Dish}}</a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="{{$index}}">
                    <div class="panel-body">
                        <div ng-repeat="rest in dishes.RestaurantList | limitTo :1" ng-init="mapAddress=rest.Address">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="font14px"><b>{{rest.Name}}</b></div>
                                                 <span ng-repeat="i in range.slice(0,rest.Rating) track by $index">
                                                  <img ng-src="Repositories/[FoodieChallenge]Asset (9).png" alt="photos" width="10" height="10"/>
                                                 </span>
                                                 <span ng-repeat="i in range.slice(0,5-rest.Rating) track by $index">
                                                  <img ng-src="Repositories/[FoodieChallenge]Asset (10).png" alt="photos" width="10" height="10"/>
                                                 </span>

                                    <div class="font10px">{{rest.Speciality}}</div>
                                    <div class="font10px">{{rest.Address}}</div>
                                </div>
                                <div class="col-md-3 contact">
                                    <div><span class="font10px"><b>Today&nbsp;</b></span><span class="font10px colorGray">{{rest.HoursOfOperation}}</span></div>
                                    <div class="font10px clrLawnGreen">Open Now</div><br/><hr />
                                    <div class="colourCyan font10px"><img ng-src="Repositories/FoodieChallengeAsset (14).png" alt="photos" width="10" height="10"/>&nbsp;{{rest.Phone}}</div>
                                    <div class="colourCyan font10px"><img ng-src="Repositories/[FoodieChallenge]Asset (13).png" alt="photos" width="10" height="10"/>&nbsp;{{rest.Website}}</div>
                                </div>
                                <div class="col-md-3 ">
                                    <img ng-src="{{rest.photos}}" alt="photos" width="180" height="100" />
                                </div>
                                <div class="col-md-3 " >
                                    <iframe
                                            width ="160"
                                            height="100"
                                            frameborder="0" style="border:0"
                                            ng-src= {{MapURL(mapAddress)}} allowfullscreen>
                                    </iframe>

                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--<script src="journeys/journeyContent.js"></script>
<script src="journeys/site.js"></script>-->
</body>
</html>